<!DOCTYPE html>
<html>
    <head>
        <style>
        body{text-align: center}
        </style>
    </head>
    <body>
        <h1>
            Requires Password
        </h1>
        <form method = 'POST' action = '/'> 
            <label for = 'password'>Password</label>
            <input name = 'password', type = 'text'>
            <input name = 'Submit', type = 'Submit'>
        </form>
    </body>
</html>